.header{
    text-align: center;
}

.languages-container{
    margin-bottom: 30px;
    text-align: center;
}
.first-section, .second-section{
    display: flex;
    flex-direction: column;
    width: 180px;
    
}
label{
    justify-content: center;
}
.result-container{
    display: flex;
    align-items: center;
    justify-content: center;
}