

h1{
    text-align: center;
    margin-top: 30px;
}
.languages-container{
    text-align: center;
}
.container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#formTraduce{
    display: flex;
    align-items: center;
    gap: 20px;
}